@import "~lato-font/css/lato-font.css";

html, body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input {
    background-color: #222;
    border: 1px solid #161616;
    outline: none;
    color: #ddd;
    padding: 4px 6px;
    min-width: 30px;
}