<agk-toolbar></agk-toolbar>

<agk-splitter [ratio]="0.70" (resize)="resize()">

    <agk-splitter *splitterPanel orientation="vertical" [ratio]="0.70" (resize)="resize()">

        <agk-panel *splitterPanel header="Scene">
            <agk-scene #scene></agk-scene>
        </agk-panel>

        <agk-panel *splitterPanel header="Content Browser"></agk-panel>

    </agk-splitter>


    <agk-panel *splitterPanel header="Properties">
        <agk-properties></agk-properties>            
    </agk-panel>

</agk-splitter>