$splitter-thickness: 3px;

:host {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    > .splitter {
        flex: none;
        background-color: #262626;
        box-shadow: 0px 0px 0px 1px #141414;
        z-index: 999;
    }

    &.horizontal {
        flex-direction: row;

        > .splitter {
            width: $splitter-thickness;
            cursor: ew-resize;
        }
    }

    &.vertical {
        flex-direction: column; 
        
        > .splitter {
            height: $splitter-thickness;
            cursor: ns-resize;
        }
    }
}