<div class="panel" [style.flex]="ratio" [style.min-width.px]="minWidth" [style.min-height.px]="minHeight">
    <ng-container [ngTemplateOutlet]="panels?.first"></ng-container>
</div>

<div class="splitter" #splitter></div>

<div class="panel" [style.flex]="1 - ratio" [style.min-width.px]="minWidth" [style.min-height.px]="minHeight">
    <ng-container [ngTemplateOutlet]="panels?.last"></ng-container>
</div>