:host {
    display: flex;
    height: 32px;
    background-color: #343434;
    border-top: 1px solid #454545;
    border-bottom: 1px solid #141414;
    color: #c8c8c8;
    padding: 0 10px;
    align-items: center;
}

.toolbar-btn {
    border: 1px solid #161616;
    height: 24px;
    background-color: #494949;
    outline: none;
    color: #d6d6d6;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px #686868;
    
    &:active {
        background-color: #363636;
        box-shadow: inset 0px 1px 0px 0px #494949;
    }
}

.toolbar-btn-group {
    font-size: 0;

    .toolbar-btn {
        border-radius: 0;

        &:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &:not(:first-of-type) {
            border-left: none;
        }
    }
}