:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.panel-header {
    display: flex;
    flex: none;
    background-color: #1b1b1b;
    height: 19px;
    border-bottom: 1px solid #121212;
    box-shadow: inset 0px 1px #323232;
}

.panel-tab {
    display: inline-flex;
    align-items: center;
    background-color: #212121;
    padding: 0 10px;
    border-top: 1px solid #323232;
    color: #c9c9c9;
    font-size: 11px;
    border-right: 1px solid #121212;
}

.panel-tab--active {
    background-color: #343434;
    border-top: 1px solid #454545;
    color: #c9c9c9;
    border-right: 1px solid #121212;
}

.panel-body {
    position: relative;
    overflow: hidden;
    flex: 1;
    background-color: #292929;
}